/Challenge_TOTVS_2025_MassaDados_v1
/churn_training.py
/conda.yaml
/create_gold_database.sql
/create_gold_db.py
/create_silver_database.sql
/dataset_unificado.csv
/data_health.ipynb
/data_processing.py
/data_profiling.ipynb
/deploy_to_ec2.sh
/mlflow.conf
/mlflow.db
/mlflow_artifacts
/mlflow_config.json
/mlflow_config.py
/MLFLOW_GUIDE.md
/mlflow_integration.py
/MLproject
/mlruns
/monitoring.py
/prediction.log
/prediction_config.json
/PREDICTION_PIPELINE_GUIDE.md
/prediction_test.log
/predict_test.py
/README.md
/Script-3.sql
/setup_ec2.sh
/start_mlflow_correct.py
/start_mlflow_ui.py
/test_churn_model.py
/test_predictions.csv