# Ambientes virtuais e cache
venv/
__pycache__/
*.pyc

# Arquivos temporários e de sistema
.DS_Store
*.log
*.db
*.csv

# Artefatos de machine learning
*.pkl
mlruns/
mlflow_artifacts/
mlflow.db
prediction.log
prediction_test.log

# Arquivos de configuração locais
mlflow.conf
prediction_config.json

# Outros arquivos gerados ou sensíveis
.env